*, html, body {
  box-sizing: border-box;
}

.rsvp-page {
  background-color: #F7FFFF;
  height: 100vh;
}
.rsvp-card {
  background-color: #FFFFFF;
  width: 400px;
  height: auto;
  border-radius: 12px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -70%);
  transform: translate(-50%, -70%);
  padding: 24px;
  box-shadow: 0px 4px 80px rgba(190, 190, 190, 0.2);
}

.intro-box {
  font-size: 24px;
  font-weight: 500;
  color: #3a3a3a;
  margin-bottom: 16px;
  width: 80%;
}

.btn {
  padding: 12px 32px;
  border-radius: 4px;
  border: 0;
  font-size: 16px;
  cursor: pointer;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-transform: uppercase;

}
.form-label {
  font-size: 16px;
  color: #2B2B2B;
  font-weight: 300;
}
.textfield {
  padding: 12px;
  width: 80%;
  border: 1px solid #DEDEDE;
  border-radius: 4px;
  margin-bottom: 16px;
  margin-top: 8px;
  font-weight: 300;
  letter-spacing: 2px;
  text-align: center;
}
.btn-rsvp {
  background: linear-gradient(90deg, rgba(7,109,222,1) 0%, rgba(0,121,255,1) 100%);
  color: #FFFFFF;
  width: 80%;
  margin: 0 auto;
}
.btn-rsvp:hover {
  background: #489fff;
}
.btn-rsvp:active {
  background: #025ec3;
}